<div>
    <section>
<div>
    <!-- <img class="" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Chris_Hemsworth_by_Gage_Skidmore_2_%28cropped%29.jpg" alt=""> -->
</div>
<div>RATING</div>
<div>
    <button type="button" class="btn btn-primary">Mentor Me</button>
</div>
<div>
    <p>Name: {{user.name}}</p>
    <p>Position: Frontend developer</p>
    <p>Slogan: Just do it!</p>
</div>
    </section>
    <section>
        <p>Email: christopher@abv.bg</p>
        <p>City: London</p>
        <p>Links: https://github.com/chris</p>
    </section>
    <section>
        <p>Education: </p>
        <p>Work experience: </p>
        <p>Projects: </p>
        <p>Education: </p>
    </section>
    <section>
        <p>About me: </p>
        <p>Technical skills: </p>
        <p>Soft skills: </p>
        <p>Interests: </p>
        <p>Volunteer: </p>
    </section>
    <section>
        <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
              <option>Currently Open for mentorship</option>
              <option>Currently Closed for mentorship</option>
            </select>
          </div>
        <button type="button" class="btn btn-outline-primary">Primary</button>
    </section>
</div>
