<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4 ">
            <img class="img-responsive rounded-circle" style="max-width: 250px;" [src]="profile.main.image" alt="Profile image">
        </div>
        <div class="col-sm-4">
            <h2>{{profile.main.name}}</h2>
            <p><strong>{{profile.main.position}}</strong></p>
            <p>{{profile.main.slogan}}</p>
        </div>

        <!-- //show if profile is mentor and status is Open and profile is different from loggedUser -->
        <div class="col-sm-4">
            <div *ngIf="(profile.main.role | lowercase) === 'mentor'">
                <button type="button" class="btn btn-primary" (click)="onMentorMe()">Mentor Me</button>
            </div>
            <p><strong>{{profile.main.role}}</strong></p>
            <p><strong>{{profile.main.status}}</strong></p>
        </div>

    </div>
    <!-- <hr> -->
    <div class="d-flex flex-row justify-content-center align-items-center border-top border-bottom p-2">
        <div class="col-sm-4 d-flex flex-row justify-content-center">
            <fa-icon [icon]="faEmail" class="mr-2"></fa-icon>
            <p class="m-0">{{profile.contact.email}}</p>
        </div>

        <div class="col-sm-4 d-flex flex-row justify-content-center">
            <fa-icon [icon]="faLocation" class="mr-2"></fa-icon>
            <p class="m-0">{{profile.contact.city}}</p>
        </div>

        <div class="col-sm-4 d-flex flex-row justify-content-center">
            <fa-icon [icon]="faLink" class="mr-2"></fa-icon>
            <p class="m-0">{{profile.contact.links}}</p>
        </div>
    </div>
    <!-- <hr> -->
    <div class="row mt-3">
        <div class="col-sm-6">
            <h6>Education</h6>
            <p>{{profile.education}}</p>
            <h6>Work experience</h6>
            <p>{{profile.experience}}</p>
            <h6>Projects</h6>
            <p>{{profile.projects}}</p>
            <h6>Languages</h6>
            <p>{{profile.description.languages}}</p>
        </div>
        <div class="col-sm-6">
            <h6>About me</h6>
            <p>{{profile.description.about}}</p>
            <h6>Technical skills</h6>
            <p>{{profile.description.techSkills}}</p>
            <h6>Soft skills</h6>
            <p>{{profile.description.softSkills}}</p>
            <h6>Interests</h6>
            <p>{{profile.description.interests}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- <div>
            <button type="button" class="btn btn-outline-primary" routerLink="edit">Edit profile</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary" routerLink="create">Create profile</button>
        </div> -->
        <div *ngIf="isOwner">
            <!-- <button type="button" class="btn btn-light btn-sm" (click)="createProfile()">Create profile</button> -->
            <button type="button" class="btn btn-light btn-sm" (click)="onEditProfile()">Edit profile</button>
        </div>
    </div>
</div>