<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <img class="img-responsive" style="max-width: 150px;" [src]="profile.main.image" alt="Profile image">
            <h6>RATING</h6>
        </div>
        <div class="col-sm-4">
            <h2>{{profile.main.name}}</h2>
            <h5>{{profile.main.position}}</h5>
            <p>{{profile.main.slogan}}</p>
        </div>
        <div class="col-sm-4">
                <h6 class="text-success">{{profile.main.status}}</h6>
                <button type="button" class="btn btn-primary">Mentor Me</button>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-sm-4 d-flex flex-row justify-content-center">
            <fa-icon [icon]="faEmail"></fa-icon>
            <p>{{profile.contact.email}}</p>
        </div>

        <div class="col-sm-4 d-flex flex-row justify-content-center">
            <fa-icon [icon]="faLocation"></fa-icon>
            <p>{{profile.contact.city}}</p>
        </div>

        <div class="col-sm-4 d-flex flex-row justify-content-center">
            <fa-icon [icon]="faLink"></fa-icon>
            <p>{{profile.contact.links}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h6>Education</h6>
            <p>{{profile.education}}</p>
            <h6>Work experience</h6>
            <p>{{profile.experience}}</p>
            <h6>Projects</h6>
            <p>{{profile.projects}}</p>
            <h6>Languages</h6>
            <p>{{profile.description.languages}}</p>
        </div>
        <div class="col-sm-6">
            <h6>About me</h6>
            <p>{{profile.description.about}}</p>
            <h6>Technical skills</h6>
            <p>{{profile.description.techSkills}}</p>
            <h6>Soft skills</h6>
            <p>{{profile.description.softSkills}}</p>
            <h6>Interests</h6>
            <p>{{profile.description.interests}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- <div>
            <button type="button" class="btn btn-outline-primary" routerLink="edit">Edit profile</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary" routerLink="create">Create profile</button>
        </div> -->
        <div *ngIf="isOwner">
            <button type="button" class="btn btn-light btn-sm" (click)="createProfile()">Create profile</button>
            <button type="button" class="btn btn-light btn-sm" (click)="editProfile()">Edit profile</button>
        </div>
    </div>
</div>