<header class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">mentorMe</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Home
                    <!-- <span class="sr-only">(current)</span> -->
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="mentorship">Mentorship</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['profile', userProfileId]">Profile</a>
            </li>
            <li class="nav-item flex-grow-1"></li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item" routerLinkActive="active" (click)="logout()">
                <a class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</header>