<h3>My mentorship list</h3>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Avatar</th>
            <th scope="col">Name</th>
            <th scope="col">Response</th>
            <th scope="col" colspan="2">Response</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-secondary" *ngFor="let profile of (mentorshipProfiles | async)">
            <td>
                <a [routerLink]="['/profile', profile.profileId]">
                    <img class="img-responsive rounded-circle" style="max-width: 50px;" alt="Avatar" [src]="profile.main.image">
                </a>
            </td>
            <th scope="row">{{profile.main.name}}</th>
            <td>Column content</td>
            <td><button #btnAccept type="button" class="btn btn-success" [disabled]="disableButton(profile)" (click)="onAccept(profile)">Accept</button></td>
            <td><button #btnReject type="button" class="btn btn-danger" [disabled]="disableButton(profile)" (click)="onReject()">Reject</button></td>
        </tr>
    </tbody>
</table>