<div class="container page-container">
    <div class="jumbotron">

        <h2 class="display-3">Mentor ME!</h2>
        <h5>Key Benefits for <strong>Mentor</strong></h5>
        <ul>
            <li>Exposure to fresh perspectives, ideas and approaches</li>
            <li>Development of personal leadership and coaching styles</li>
            <li>Recognition as a subject matter expert and leader.</li>
            <li>Extension of their professional development record.</li>
            <li>Opportunity to reflect on their own goals and practices.</li>
        </ul>
        <h5>Key Benefits for <strong>Mentee</strong></h5>
        <ul>
            <li>Exposure to new ideas and ways of thinking</li>
            <li>Advice on developing strengths and overcoming weaknesses</li>
            <li>Guidance on their professional development and advancement</li>
            <li>Increased visibility and recognition within the company</li>
            <li>The opportunity to develop new skills and knowledge</li>
        </ul>
        <div *ngIf="!user">
            <hr class="my-4">
            <p>If you want to be a mentor or mentee - register, create a profile and enjoy the jurney!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Register</a>
            </p>
        </div>
    </div>
    <!-- <div class="card-deck d-flex flex-row justify-content-center mt-5"> -->
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card" *ngFor="let profile of profiles">
                <div class="row no-gutters">
                    <div class="col-sm-5">
                        <img class="card-img-top h-100" [src]="profile.main.image" alt="Card image cap">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title">{{profile.main.name}}</h5>
                            <h6 class="card-subtitle text-muted">{{profile.main.position}}</h6>
                            <a *ngIf="user" [routerLink]="['/profile', profile.id]"
                                class="btn btn-dark w-50">Details</a>
                            <p *ngIf="!user" class="card-text mt-3">
                                <a [routerLink]="['/login']" role="button">Login</a> to view Details</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>