.imageContainer {
    /* If you place gradient before image URL, this image will be displayed under the gradient. */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url("https://images.pexels.com/photos/3184428/pexels-photo-3184428.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: 0.8;
}

li {
    list-style: none;
}